{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block details %}
    <h2>{% trans subtitle %}</h2>
    <p><em>{% blocktrans %}Go back to <a href="index.html">home page</a>.{% endblocktrans %}</em></p>
{% endblock %}

{% block content %}
<h3>{% trans "Videos" %}</h3>
{% for video in videos|dictsortreversed:"created" %}
    <h4>
        {{ forloop.revcounter|ordinal }}:
        <a target="_blank" href="{{ video.site_url }}" title="{% blocktrans with title=video.title %}Jump to video '{{ title }}'{% endblocktrans %}">{{ video.title }}</a>
        <meter min="0" max="100" high="95" low="50" optimum="100" value="{{ video.percent_done }}">({{ video.percent_done }}% {% trans "completed" %})</meter>
    </h4>
    <p>
        <strong title="{{ video.created|date:"d.m.Y. H:i:s" }}">{{ video.created|naturaltime }}</strong>:
        <em>{{ video.description|default:_("...no description") }}</em>
    </p>
{% endfor %}
{% endblock %}
